@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.productsGrid {
    margin: 3.75rem auto;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    text-align: center;
    max-width: 2345px;
    font-family: 'Poppins', sans-serif;
}

.productsGrid h2 {
    font-size: 1.5rem;
}

.productsGrid__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem 5.25rem;
    margin: 0 1rem;
}

@media screen and (min-width: 768px) {
    .productsGrid {
        row-gap: 3.875rem;
    }
    .productsGrid h2 {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 1024px) {
    .productsGrid h2 {
        font-size: 2.25rem;
    }
}