.articleCep {
    width: 50%;
    padding: 2rem;
}

.titulo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.inputCep {
    width: 100%;
    border: 1px solid #9D9A95;
    border-radius: 4px;
    padding: .8rem;
    box-sizing: border-box;
}

.buscarDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.aplicar {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1rem;
    color: #53B38D;
    padding-right: .5rem;
    cursor: pointer;
}

.tituloCep {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    color: #275845;
}

.sectionEntrega {
    width: 100%;
    justify-content: space-between;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
}