@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Poppins:wght@400;500&display=swap');
:root {
    --footer-poppins: 'Poppins';
    --footer-josefin-sans: 'Josefin Sans';
    --footer-bg-color: #F5F5DC;
    --footer-black-text-color: #252822;
    --footer-green-text-color: #275845;
}

a:hover {
    cursor: pointer;
}

.footer {
    background-color: var(--footer-bg-color);
    font-family: var(--footer-poppins);
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.2rem;
}

.footer__main {
    display: flex;
    flex-direction: column;
    row-gap: 2.2rem;
}

.footer__links>ul {
    display: flex;
    column-gap: 1.25rem;
    justify-content: center;
    font-weight: 500;
}

.footer__links>ul>li>a {
    text-decoration: none;
    color: var(--footer-black-text-color);
}

.footer__lojinha {
    display: flex;
    column-gap: .5rem;
    justify-content: center;
    align-items: center;
    font-family: var(--footer-josefin-sans);
    color: var(--footer-green-text-color);
    font-size: 1.25rem;
    font-weight: 600;
}

.footer__social ul {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.footer__message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--footer-black-text-color);
    font-size: .75rem;
}

.footer__message a {
    color: var(--footer-black-text-color);
}

@media screen and (min-width: 768px) {
    .footer__links {
        font-size: 1.125rem;
    }
    .footer__lojinha {
        font-size: 2rem;
    }
    .footer__social {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        row-gap: 6.25rem;
    }
    .footer__main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        max-width: 1920px;
    }
    #a {
        order: 1;
    }
    #b {
        order: 2;
    }
    #c {
        order: 3;
    }
}