* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    border: none;
}

.cardsHome {
    width: 100%;
}

.produtosCards {
    display: flex;
    justify-content: space-around;
}