* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.sectionCards {
    width: 100%;
}

.cardsImagens {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 500px;
}

.cardsImagens img {
    width: 25%;
    height: auto;
}