.imgRetangulo {
    width: 100%;
}

.cardsImagens {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
}

.cardsImagens .imgProduto {
    width: 30%;
    margin: 0 auto;
    position: absolute;
}

.cardsImagens .textoProduto {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    padding-top: 40%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7vw;
    color: #252822;
}

.verMais {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    padding-top: 49.5%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    color: #424242;
}

.cardsImagens .imgRetangulo {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    padding-top: 25%;
}

@media (min-width: 768px) {
    .cardsImagens {
        padding-top: 8%;
    }
    .cardsImagens .imgProduto {
        width: 12.5%;
        top: 127vh;
    }
    .cardsImagens .imgRetangulo {
        height: 100%;
    }
    .cardsImagens .textoProduto {
        width: 30%;
        font-size: 2.9vw;
        padding-top: 13.5%;
    }
    .verMais {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 10%;
        padding-top: 17%;
        font-size: 2vw;
        gap: 10%;
    }
}

@media (min-width: 1024px) {}