* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.sectionCards {
    width: 100%;
}

.produtosImagens {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 720px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.produtosImagens img {
    width: 30%;
}

.cardsImagens {
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 800px;
}

.cardsImagens img {
    width: 60%;
    height: auto;
}