* {
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
}

.cardsDiv {
    padding-bottom: 20%;
}

.cardsImagens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40%;
    padding-bottom: 0%;
}

.imgRetangulo {
    width: 80%;
}

.imgProduto {
    margin-top: -40rem;
    padding-bottom: 38%;
    width: 30vw;
}

.textoCards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -30vw;
}

.textoProduto {
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7vw;
    color: #252822;
}

.verMais {
    width: 20%;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: #424242;
}

.imgRetanguloDesktop {
    display: none;
    margin: 0 auto;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 25%;
}


/*
@media (min-width: 768px) {
    .imgRetangulo {
        display: flex;
        padding-top: 5.5rem;
        max-width: 500px;
        height: 200px;
    }
    .cardsImagens {
        padding-top: 7rem;
    }
    .imgProduto {
        max-width: 100px;
    }
    .textoProduto {
        width: 30%;
        font-size: 2rem;
        padding-top: 8rem;
    }
    .verMais {
        display: flex;
        width: 15%;
        align-items: center;
        justify-content: center;
        padding-top: 10.5rem;
        font-size: 1rem;
        gap: 10%;
    }
}

@media (min-width: 1024px) {
    .imgRetangulo {
        display: none;
    }
    .imgRetanguloDesktop {
        display: flex;
        padding-top: 8rem;
        max-width: 450px;
    }
    .cardsImagens {
        padding-top: 7rem;
    }
    .imgProduto {
        max-width: 150px;
    }
    .textoProduto {
        width: 30%;
        font-size: 2rem;
        padding-top: 12.2rem;
    }
    .verMais {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 14.5rem;
        font-size: 1rem;
        gap: 10%;
    }
}*/