* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    border: none;
}

@media (min-width: 768px) {
    #menuHamburguer {
        display: none;
    }
    #headerDiv {
        flex-direction: column;
        justify-content: flex-end;
    }
    #navbarDiv {
        display: flex;
    }
}

@media (min-width: 1024px) {
    #menuHamburguer {
        display: none;
    }
    #headerDiv {
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 1920px;
    }
    #navbarDiv {
        display: flex;
        padding-right: 1rem;
    }
    #searchDivDesk {
        display: flex;
    }
    #searchDiv {
        display: none;
    }
    #inputSearch {
        width: 25.8rem;
    }
    #logoLojinha {
        font-size: 0.8rem;
    }
}

.headerDiv {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    gap: 1rem;
}

.logoLojinha {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    font-size: 0.7rem;
    color: #275845;
    font-family: 'Josefin Sans', sans-serif;
}

.logoLojinha:hover {
    cursor: pointer;
}

.headerEsquerda {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarDiv {
    display: none
}

.searchDiv {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.inputSearch {
    width: 77vw;
    height: 30px;
    background: #FAFAFA;
    border: 1px solid #A6A39F;
    border-radius: 4px;
    padding: 0.1px 0.5rem;
}

.searchDivDesk {
    display: none;
    margin: 0 auto;
}