.sectionModal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: white;
    overflow: hidden;
}

.iconeFechar {
    z-index: 6;
}

.linksNav {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    font-size: 1.3rem;
    color: #252822;
}

.linksNav button {
    background: #53B38D;
    color: #FAFAFA;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 1.8rem;
    cursor: pointer;
}