* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-weight: 500;
}

.navbar ul {
    display: flex;
    margin: 0 auto;
    align-items: center;
    list-style: none;
    gap: 2rem;
    font-size: 1.1rem;
    color: #252822;
}

.navbar button {
    background: #53B38D;
    color: #FAFAFA;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 1.8rem;
    font-size: 1.1rem;
    cursor: pointer;
}